.header {
  background: $color__dark-corporate;
  display: flex;
  padding: $vertical-flow $horizontal-flow;
  align-items: center;
  color: $color__white;
  position: sticky;
  top: 0;
  .remove-scroll & {
    position: fixed;
    top: 0;
    width: 100%;
  }
  &__icon {
    margin: rem(16);
    font-size: rem(25);
    font-weight: bold;
  }
  &__title {
    flex: 1 0;
    font-weight: bold;
    font-size: rem(20);
  }
  @include respond-to(xl) {
    .modal-search {
      min-width: 650px;
      flex: 1 0;
    }
  }
}
