:root {
  --horizontal-flow: #{rem(15)};
  --vertical-flow: #{rem(15)};
  --mid-flow: #{rem(20)};

  @include respond-to(m) {
    --horizontal-flow: var(--mid-flow);
    --vertical-flow: var(--mid-flow);
  }

  @include respond-to(xl) {
    --horizontal-flow: #{rem(45)};
    --vertical-flow: #{rem(40)};
  }
}

$horizontal-flow: var(--horizontal-flow);
$vertical-flow: var(--vertical-flow);
$mid-flow: var(--mid-flow);
