.loading.loading--list-view {
  justify-content: center;
  align-items: center;
  svg {
    width: 25px;
    height: 25px;
    path {
      fill: $color__dark-corporate;
    }
  }
}

.list-view {
  padding: $vertical-flow $horizontal-flow;
  &__search-term {
    font-size: rem(16);
    font-weight: bold;
    span {
      color: $color__dark-corporate;
    }
    margin-bottom: rem(10);
  }
  &__item-count {
    font-size: rem(16);
    strong {
      color: $color__dark-corporate;
    }
    margin-bottom: $vertical-flow;
  }
  &__items {
    display: grid;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    flex: 1 0;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-template-rows: masonry;
    grid-auto-flow: dense;
    gap: rem(10);
    @include respond-to(m) {
      gap: rem(20);
      grid-template-columns: repeat(
        auto-fill,
        minmax(calc(50% - (#{$horizontal-flow} / 2)), 1fr)
      );
    }
  }
  @include respond-to(xl) {
    &__search-term,
    &__item-count {
      font-size: rem(20);
    }
    &__info {
      display: flex;
    }
    &__search-term:after {
      content: "·";
      margin: 0 rem(10);
    }
  }
}
