$color__dark: #333333;
$color__error: #bf2336;
$color__light-corporate: #25a2d1;
$color__dark-corporate: #004e96;
$color__white: #ffffff;
$color__accent: #f2931d;
$color__cell-grey: #ecebeb;
$color__warning: #f5d173;
$color__success: #8dbf23;
$color__light-grey: #d3d3d3;

$color__body-text: $color__dark;
$color__background: $color__white;
