input[type="text"] {
  font-size: rem(18);
  width: 100%;
  padding: rem(17) rem(50) rem(17) rem(20);
  border: 0;
  position: relative;
  display: block;
  box-shadow: 0 3px 0 0 $color__light-grey;
  transition: box-shadow 400ms $ease__circout;
  &:focus {
    box-shadow: 0 3px 0 0 $color__accent;
  }
}

.input {
  &--search {
    position: relative;
  }
  &__icon {
    position: absolute;
    right: rem(20);
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    svg {
      width: 100%;
      height: 100%;
      path {
        fill: $color__light-grey;
      }
    }
  }
}
